<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    LIBROS:
    <br>
    <br>
    {% for libro in libros %}

        <p>Título: {{libro.titulo}}</p>
        <p>Puntaje: {{libro.puntaje}}</p>
        <br>
        <button> <a href="{% url 'Editar libros' libro.titulo %}">Editar libro</a> </button> <button> <a href="{% url 'Eliminar libros' libro.titulo %}">Eliminar libro</a> </button>
        <br>
        ------------------------------

    {% endfor %}
    <br>
    <br>
    <a class="navbar-brand" href="{% url 'Añadir libros' %}">Añadir libros</a> - <a class="navbar-brand" href="{% url 'Inicio' %}">Volver al inicio</a>
    <br>
    <br>
</body>
</html>