<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    JUEGOS:
    <br>
    <br>
    {% for juego in juegos %}

        <p>Nombre: {{juego.nombre}}</p>
        <p>Puntaje: {{juego.puntaje}}</p>
        <br>
        <button> <a href="{% url 'Editar juegos' juego.nombre %}">Editar juego</a> </button> <button> <a href="{% url 'Eliminar juegos' juego.nombre %}">Eliminar juego</a> </button>
        <br>
        ------------------------------

    {% endfor %}
    <br>
    <br>
    <a class="navbar-brand" href="{% url 'Añadir juegos' %}">Añadir juegos</a> - <a class="navbar-brand" href="{% url 'Inicio' %}">Volver al inicio</a>
</body>
</html>